* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

  }
  
  body {
    background-color: #007bff ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    background-color:white;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    border-color: #007bff;
    border: 2px;
    background-color: #007bff;
    border-radius: 10px;
    padding: 3%;
  }
  h2{
    text-align: center;
    color:#007bff;
    margin-bottom: 20px;
  }
  
  .totals {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-weight: bold;
  }
  
  .total-item {
    font-size: 25px;
  }

  #total-income,
  #total-expenses ,
  #net-balance{
    color: #dc3545;
  }

  .input-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    width: max-content;
  }
  
  input, select, button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    width: 40%;
  }
  
  button:hover {
    background-color:#007bff;
  }
  
  #reset-button {
    background-color: #dc3545;
  }
  
  #reset-button:hover {
    background-color:#007bff;
  }
  
  .filters {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 14px;
  }
  
  .entries {
    margin-top: 10px;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
  }
  
  .income {
    color: green;
  }
  
  .expense {
    color: red;
  }
  
  .edit-button, .delete-button {
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 3px;
  }
  
  .delete-button {
    background-color: #dc3545;
  }
  
  button:hover {
    opacity: 0.9;
  }
  
