*{
    text-align: center;
}
h1{
    color: rebeccapurple;
    font-size: 100px;
}
h4{
    color: brown;
    font-size: 50px;
}
label{
    font-size: 30px;
    font-weight: bold;
}
input{
    width: 200px;
    height: 30px;
}
button{
    background:  rebeccapurple;
    width: 100px;
    height: 30px;
}